$ct_trans_blue: rgba(46,127,180,0.8);
$ct_dark_blue: #11375d;
$ct_darker_blue: #00355f;
$ct_light_blue: #8fb5e0;
$ct_mid_blue: #0770b8;
$ct_mid_blue_trans: rgba(7,112,184,0.8);
$ct_mid_blue_more_trans: rgba(7,112,184,0.5);
$ct_white: #ffffff;
$ct_trans_white: rgba(255,255,255,0.8);
$ct_red: #f31700;