@charset "UTF-8";
@font-face {
  font-family: 'avalon_book_macroman';
  src: url("./fonts/avalon_book_macroman/Avalon-Book-webfont.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/avalon_book_macroman/Avalon-Book-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/avalon_book_macroman/Avalon-Book-webfont.woff") format("woff"), url("./fonts/avalon_book_macroman/Avalon-Book-webfont.ttf") format("truetype"), url("./fonts/avalon_book_macroman/Avalon-Book-webfont.svg#avalonregular") format("svg"); }
body, .gform_wrapper .gform_button, .gform_wrapper .gfield input[type=text],
.gform_wrapper .gfield input[type=email],
.gform_wrapper .gfield input[type=tel],
.gform_wrapper .gfield input[type=url],
.gform_wrapper .gfield input[type=number],
.gform_wrapper .gfield input[type=password] input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper .gfield textarea,
.gform_wrapper .gravity-select-parent select, ::-webkit-input-placeholder {
  font-family: avalon_book_macroman, Arial, sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important; }

@font-face {
  font-family: 'avalon_bold_macroman';
  src: url("./fonts/avalon_bold_macroman/Avalon-Bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/avalon_bold_macroman/Avalon-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/avalon_bold_macroman/Avalon-Bold-webfont.woff") format("woff"), url("./fonts/avalon_bold_macroman/Avalon-Bold-webfont.ttf") format("truetype"), url("./fonts/avalon_bold_macroman/Avalon-Bold-webfont.svg#avalon_mediumbold") format("svg"); }
.fusion-title h1.title-heading-left,
.fusion-title h2.title-heading-left,
.fusion-title h3.title-heading-left,
.fusion-title h4.title-heading-left,
.fusion-title h5.title-heading-left,
.fusion-title h6.title-heading-left {
  font-family: avalon_bold_macroman, Arial, sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important; }

@font-face {
  font-family: 'avalon_demi_macroman';
  src: url("./fonts/avalon_demi_macroman/Avalon-Demi-webfont.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/avalon_demi_macroman/Avalon-Demi-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/avalon_demi_macroman/Avalon-Demi-webfont.woff") format("woff"), url("./fonts/avalon_demi_macroman/Avalon-Demi-webfont.ttf") format("truetype"), url("./fonts/avalon_demi_macroman/Avalon-Demi-webfont.svg#avalonbold") format("svg"); }
.fusion-flip-box .flip-box-back .flip-box-back-inner a, .fusion-flip-box .flip-box-back .flip-box-heading-back {
  font-family: avalon_demi_macroman, Arial, sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important; }

@font-face {
  font-family: 'avalon_medium_macroman';
  src: url("./fonts/avalon_medium_macroman/Avalon-Medium-webfont.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/avalon_medium_macroman/Avalon-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/avalon_medium_macroman/Avalon-Medium-webfont.woff") format("woff"), url("./fonts/avalon_medium_macroman/Avalon-Medium-webfont.ttf") format("truetype"), url("./fonts/avalon_medium_macroman/Avalon-Medium-webfont.svg#avalonmedium") format("svg"); }
@font-face {
  font-family: 'avalon_mediumoblique_macroman';
  src: url("./fonts/avalon_mediumoblique_macroman/Avalon-MediumOblique-webfont.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/avalon_mediumoblique_macroman/Avalon-MediumOblique-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/avalon_mediumoblique_macroman/Avalon-MediumOblique-webfont.woff") format("woff"), url("./fonts/avalon_mediumoblique_macroman/Avalon-MediumOblique-webfont.ttf") format("truetype"), url("./fonts/avalon_mediumoblique_macroman/Avalon-MediumOblique-webfont.svg#avalonmedium_oblique") format("svg"); }
@font-face {
  font-family: 'avalon_boldcondensed_macroman';
  src: url("./fonts/avalon_boldcondensed_macroman/Avalon-BoldCond-webfont.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/avalon_boldcondensed_macroman/Avalon-BoldCond-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/avalon_boldcondensed_macroman/Avalon-BoldCond-webfont.woff") format("woff"), url("./fonts/avalon_boldcondensed_macroman/Avalon-BoldCond-webfont.ttf") format("truetype"), url("./fonts/avalon_boldcondensed_macroman/Avalon-BoldCond-webfont.svg#avalonbold_condensed") format("svg"); }
.fusion-recent-posts .columns .column h4, .fusion-flip-box .flip-box-front .flip-box-heading, .fusion-footer-widget-area h3,
#slidingbar-area h3 {
  font-family: avalon_boldcondensed_macroman, Arial, sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important; }

@font-face {
  font-family: 'ct-icons';
  src: url("./fonts/ct-icons/ct-icons.eot?77733598");
  src: url("./fonts/ct-icons/ct-icons.eot?77733598#iefix") format("embedded-opentype"), url("./fonts/ct-icons/ct-icons.woff?77733598") format("woff"), url("./fonts/ct-icons/ct-icons.ttf?77733598") format("truetype"), url("./fonts/ct-icons/ct-icons.svg?77733598#ct-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ct-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-vehicle-tracking:before {
  content: '\e800'; }

/* 'εáÇ' */
.icon-fleet-management:before {
  content: '\e801'; }

/* 'εáü' */
.icon-fleet-tracking:before {
  content: '\e802'; }

/* 'εáé' */
.fusion-main-menu > ul > li > a span.bottom-menu, .fusion-title h1.title-heading-left,
.fusion-title h2.title-heading-left,
.fusion-title h3.title-heading-left,
.fusion-title h4.title-heading-left,
.fusion-title h5.title-heading-left,
.fusion-title h6.title-heading-left, .fusion-flip-box .flip-box-front .flip-box-heading {
  text-transform: uppercase !important; }

.fusion-header-v2 .fusion-secondary-header, .fusion-header-v2 .fusion-header,
.fusion-header-v3 .fusion-header,
.fusion-header-v4 .fusion-header,
.fusion-header-v5 .fusion-header, .fusion-secondary-menu > ul > li, .gform_wrapper .gform_button, .gform_wrapper .gfield input[type=text],
.gform_wrapper .gfield input[type=email],
.gform_wrapper .gfield input[type=tel],
.gform_wrapper .gfield input[type=url],
.gform_wrapper .gfield input[type=number],
.gform_wrapper .gfield input[type=password] input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper .gfield textarea,
.gform_wrapper .gravity-select-parent select {
  border: none !important; }

.gform_wrapper .top_label .gfield_label, .gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .gfield_time_ampm label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .ginput_complex label,
.gform_wrapper .instruction {
  display: none !important;
  visibility: hidden !important; }

.fusion-flip-box .flip-box-front,
.fusion-flip-box .flip-box-back, .gform_wrapper .gform_button {
  border-radius: 0 !important; }

/*****************************************
*
*                Header
*
*****************************************/
.fusion-main-menu > ul > li > a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 1 !important;
  height: 65px;
  padding-top: 19px; }
  .fusion-main-menu > ul > li > a span {
    display: block; }
  .fusion-main-menu > ul > li > a span.top-menu {
    font-size: 1.431em;
    padding: 0 0 5px 0; }
  .fusion-main-menu > ul > li > a span.bottom-menu {
    border-top: 2px solid;
    padding-top: 5px; }

.fusion-header-wrapper.fusion-is-sticky .fusion-main-menu > ul > li > a {
  padding-top: 0 !important;
  color: #11375d !important; }
  .fusion-header-wrapper.fusion-is-sticky .fusion-main-menu > ul > li > a span.top-menu {
    padding: 8px 0 5px 0; }

.fusion-secondary-header {
  background-color: transparent !important; }

.fusion-fullwidth.homepage-top {
  margin-top: -55px; }

.fusion-main-menu .sub-menu {
  /*visibility: visible;
  opacity: 1;*/
  border-top: 1px solid white !important;
  background-color: rgba(7, 112, 184, 0.8) !important; }
  .fusion-main-menu .sub-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; }

/*****************************************
*
*                  Body
*
*****************************************/
.fusion-fullwidth.fullwidth-home {
  margin-bottom: -40px !important; }

.content-boxes .col {
  background-color: rgba(46, 127, 180, 0.8) !important;
  padding: 10px 17px 26px; }

.homepage-boxes.fusion-content-boxes .fusion-column {
  margin-bottom: 0 !important; }

.fusion-title h1.title-heading-left,
.fusion-title h2.title-heading-left,
.fusion-title h3.title-heading-left,
.fusion-title h4.title-heading-left,
.fusion-title h5.title-heading-left,
.fusion-title h6.title-heading-left {
  padding-right: 0;
  line-height: 1.1;
  margin-bottom: 12px; }
.fusion-title h1.title-heading-left {
  border-bottom: 5px solid; }
.fusion-title h2.title-heading-left {
  border-bottom: 5px solid; }
.fusion-title h3.title-heading-left {
  border-bottom: 4px solid; }
.fusion-title h4.title-heading-left {
  border-bottom: 3px solid; }
.fusion-title h5.title-heading-left {
  border-bottom: 2px solid; }
.fusion-title h6.title-heading-left {
  border-bottom: 2px solid; }

.fusion-recent-posts {
  margin-bottom: 0; }
  .fusion-recent-posts .columns .column h4 {
    font-size: 16px; }

.fusion-flip-boxes {
  margin-top: 25px; }

.fusion-flip-box .flip-box-front,
.fusion-flip-box .flip-box-back {
  background-color: rgba(46, 127, 180, 0.8) !important;
  padding-left: 38px;
  padding-right: 38px; }
.fusion-flip-box .flip-box-front .flip-box-heading {
  font-size: 25px !important;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  padding: 8px 0;
  letter-spacing: 1px; }
.fusion-flip-box .flip-box-inner-wrapper {
  margin-top: 15px; }
.fusion-flip-box .flip-box-back .flip-box-back-inner a {
  display: block;
  background: #00355f;
  width: 53%;
  margin: 0 auto;
  padding: 2px 0;
  margin-top: 30px;
  font-size: 14px !important;
  color: #ffffff; }
.fusion-flip-box .flip-box-back .flip-box-heading-back {
  font-size: 16px !important;
  text-transform: initial; }

/*****************************************
*
*              Gravity-forms
*
*****************************************/
.request-a-call {
  background: rgba(46, 127, 180, 0.8); }

.gform_wrapper {
  max-width: 100% !important; }
  .gform_wrapper h3.gform_title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 10px 0;
    margin: 0; }
  .gform_wrapper ul li.gfield {
    margin-bottom: 9px; }
  .gform_wrapper .gform_footer {
    margin: 0 !important;
    padding: 0 !important; }
  .gform_wrapper .gform_button {
    margin: 0 !important;
    text-transform: initial !important;
    width: 100%;
    background-image: none !important;
    background: none !important;
    background-color: #8fb5e0 !important;
    padding: 10px 0 !important;
    color: #ffffff !important; }
    .gform_wrapper .gform_button:hover {
      background: #11375d !important; }
  .gform_wrapper .hidden_label input.large,
  .gform_wrapper .hidden_label select.large,
  .gform_wrapper .top_label input.large,
  .gform_wrapper .top_label select.large,
  .gform_wrapper .gform_heading {
    width: 100% !important; }
  .gform_wrapper .gform_heading {
    margin-bottom: 34px !important; }
  .gform_wrapper .gfield input[type=text],
  .gform_wrapper .gfield input[type=email],
  .gform_wrapper .gfield input[type=tel],
  .gform_wrapper .gfield input[type=url],
  .gform_wrapper .gfield input[type=number],
  .gform_wrapper .gfield input[type=password] input[type="number"],
  .gform_wrapper input[type="password"],
  .gform_wrapper .gfield textarea,
  .gform_wrapper .gravity-select-parent select {
    color: #11375d !important; }

::-webkit-input-placeholder {
  color: #11375d !important; }

:-moz-placeholder {
  color: #11375d !important; }

::-moz-placeholder {
  color: #11375d !important; }

:-ms-input-placeholder {
  color: #11375d !important; }

body .gform_wrapper label.gfield_label + div.ginput_container {
  margin-top: 0; }

/*****************************************
*
*                   Footer
*
*****************************************/
.fusion-footer-widget-area h3,
#slidingbar-area h3 {
  font-size: 16px !important; }

.fusion-footer-widget-area .widget_recent_entries li,
.fusion-footer-widget-area ul li a {
  border-color: #7793aa !important; }

/*# sourceMappingURL=main.css.map */
